Checks: >
  -*,
  readability-braces-around-statements,
  bugprone-integer-division,
  bugprone-reserved-identifier
WarningsAsErrors: '*'
HeaderFilterRegex: '^(Libraries|src|tests)/'
FormatStyle: file
