.*/
!.github/
.vscode/
.VSCodeCounter/
.vs/
vcpkg_installed/
bin/
build/
dist/
obj/
lib/
logs/
*.log
imgui.ini
Generated/
tools/target/
tools/cui.exe
tools/cui
tools/engine.exe
tools/engine
demo/engine/
demo/config.local.mk
